table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img {
  object-fit: cover;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
  margin-bottom: 10px;
}

body {
  background-color: #F0FFF0;
}

#buttons {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 20px;
}

#edit {
  padding-left: 20px;
}

.entry {
  padding: 32px;
}




