<div ngController="MainController">
  
  <div id="buttons">
    <!-- Change type of view -->
    <button class="btn btn-info" ng-click="thumbViewOn = !thumbViewOn">
      Toggle View
    </button>

    <!-- Create new entry -->
    <button class="btn btn-primary" ng-click="itemList.enterDetailsPage()">Create New</button>
  </div>
  

  <!-- Thumbnail View -->
  <div ng-if="thumbViewOn">
    <div ng-repeat="item in itemArray" class="entry">
      <img ng-src="{{item.imgs[0].url}}" height="200" width="500">
        {{item.name}} || {{item.description}}
    </div>
  </div>


  <!-- Tableview View -->
  <div ng-if="!thumbViewOn">
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in itemArray">
          <td><a ng-href="{{item.url}}" target="_blank">{{item.name}}</a></td>
          <td>{{item.description}}</td>
          <td>
            <button class="btn btn-default" ng-click="itemList.enterDetailsPage(item._id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" ng-click="itemList.deleteButtonPressed(item._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

 </div>
</div>