<div ngController="MainController">
  <div id="buttons">
    <!-- Change type of view -->
    <button ng-click="thumbViewOn = !thumbViewOn">
      Toggle View
    </button>

    <!-- Create new entry -->
    <button><a ng-href="#/detail">Create New</a></button>
  </div>
  

  <!-- Thumbnail View -->
  <div ng-if="thumbViewOn">
    <div ng-repeat="item in itemArray" class="entry">
      <img ng-src="{{item.imgs[0].url}}" height="200" width="500">
        {{item.name}} || {{item.description}}
    </div>
  </div>



  <!-- Tableview View -->
  <div ng-if="!thumbViewOn">
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in itemArray">
          <td><a ng-href="{{item.url}}" target="_blank">{{item.name}}</a></td>
          <td>{{item.description}}</td>
          <td>
            <button><a ng-href="#/detail/{{item._id}}" target="_self">Edit</a></button>
          </td>
          <td>
            <button><a ng-click="itemList.deleteItem(item._id)">Delete</a></button>
          </td>
        </tr>
      </tbody>
    </table>
 </div>
</div>